
.work-experience h1 { margin-bottom: 5rem;
}

.work-experience-card{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0;
}

.company-logo{
    margin: 0;
    width: 100%;
    height: 100%;
}  